<nav class="site-nav">
  <ul>
    <li>
    <a class="logo" href="{{ site.baseurl }}/"><h1>{{ site.name }}</h1></a>
    </li>
  </ul>
  <!--ul>
    {% for page in site.pages %}
      {% if page.title != "Home" %}
        <li class="disclosed">
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul-->
  <ul>
    <li class="disclosed"> <a class="page-link" href="{{ site.baseurl }}/feed.xml">RSS</a> </li>
    <li class="disclosed"> <a class="page-link" href="{{ site.baseurl }}/about">About</a> </li>
    <li class="disclosed"> <a class="page-link" href="{{ site.baseurl }}/blog">Blog</a> </li>
  </ul>
  <a href="#" class="menu-link">&nbsp;</a>
</nav>
